{#
    Mostrar tabla de usuarios, y al lado enlaces para actualizar, eliminar
#}


{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
    <a href="{{ path('user') }}">Users</a>



{% endblock %}
